<footer>
    <nav class="footer_nav">
        <ul class="resources_container">
            <li><a href="https://validator.w3.org/" target="_blank">HTML Validator</a></li>
            <li><a href="https://jigsaw.w3.org/css-validator/" target="_blank">CSS Validator</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">MDN HTML Reference</a></li>
        </ul>
    </nav>
</footer>