

<footer>
    <nav class="footer_nav">
        <ul class="resources_container">
            <li><a href="https://coursepress.lnu.se/courses/web-programming/virtual-host-with-node-server/assignment" target="_blank">Requirements</a></li>
            <li><a href="https://docs.gitlab.com/ee/api/" target="_blank">GitLab REST API</a></li>
            <li><a href="https://docs.gitlab.com/ee/user/project/integrations/webhooks.html" target="_blank">GitLab Webhooks</a></li>
        </ul>
    </nav>
</footer>