<h1 class="index-header">Production Server with Real-Time Web</h1>


<div class="info">
    <h2>About the App</h2>
    <p>This application provides a dynamic interface for monitoring and managing issues within a specific GitLab repository. Key features include:</p>
    <ul>
        <li>Listing all issues from the repository along with their authors.</li>
        <li>Displaying commits and their respective authors</li>
        <li>Real-time updates for new issues and comments as they are added</li>
        <li>Live status updates on issues</li>
        <li>Capability to open or close issues directly from the app</li>
    </ul>
    <p>While this app allows for opening and closing issues directly, other actions such as commenting or detailed issue management can be performed on GitLab. Changes made on GitLab will reflect in the app in real time, ensuring seamless synchronization.</p>
</div>

<p>&copy; 2024 B2-Crud Seif-Alamir Yousef, Linnaeus university </p>