
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.login-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto; 
}

.login-form h2 {
    text-align: center;
    margin: 0 0 20px;
}

.login-form label {
    display: block;
    margin: 0 0 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block; 
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form .alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
