<!-- login.ejs -->
<div class="login-container">
    <div class="login-form">
        <h2>Login</h2>
        <% if (messages.error) { %>
            <% messages.error.forEach(function(message) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% }); %>
        <% } %>
        
        <form action="/users/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>

        <div class="register-button corner-button register-on-login">
            <p>Don't have an account?</p>
            <a href="/users/register">Register!</a> 
        </div>
    </div>
</div>
